html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  background: yellow;
  color: #fff;
  max-height: 100vh;
}

main, h1 {
  text-align: center;
  margin: 0.6rem auto;
  color: #000;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem auto;
}

button {
  border: none;
  border-radius: 2.8px;
  padding: 0.6rem 1rem;
  font-size: 0.6rem;
  background-color: orange;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

button:hover {
  transform: scale(1.02);
}

.containerTwo {
  display: grid;
  width: 400px;
  height: 400px;
  margin: 1rem solid black;
}

.containerTwo .square {
  border: 0.6rem solid black;
  opacity: 1;
  transition: all 700ms ease-in-out;
}

.containerTwo .deleting {
  border: 0.02px solid green;
  opacity: 0;
}